
@{
    ViewBag.Title = "Dashboard";        
}

<h2>Dashboard</h2>

<ul>
    <li>
        @Html.ActionLink("Choose Schedule", "ChooseSchedule", "UpdateDatabase") 
    </li>
    <li>@Html.ActionLink("Choose a Meeting", "ChooseMeeting", "ChooseMeeting")</li>
</ul>

