<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="lightSpeedContexts" type="Mindscape.LightSpeed.Configuration.LightSpeedConfigurationSection, Mindscape.LightSpeed"/>
  </configSections>
  <connectionStrings>
    <add name="WagerWatcherDB" connectionString="Data Source=.;Initial Catalog=WagerWatcher;Integrated Security=True"/>
  </connectionStrings>
  
  <lightSpeedContexts>
    <add name="default"
         connectionStringName="WagerWatcherDB"
         dataProvider="SqlServer2008"/>
    <add name="Test"
     identityMethod="GuidComb" />
  </lightSpeedContexts>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
